  <form action="/edit/<%= todo["id"] %>" method="post">
    <input type="text" name="todo" id="todo" value="<%= todo["body"] %>"/>
    <input type="hidden" name="_method" value="patch"/>
    <button>Edit</button>
  </form>

